<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.hold.adega">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/house_beer"
        android:label="House beer"
        android:roundIcon="@drawable/house_beer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adega.Activity.TelaPedidos" />
        <activity android:name=".adega.Activity.EstoqueTelaProduto" />
        <activity android:name=".adega.Activity.TelaAdicionarProduto" />
        <activity android:name=".adega.Activity.DadosPessoaisDono" />
        <activity android:name=".adega.Activity.PedidosEstoque" />
        <activity
            android:name=".adega.Activity.MenuDono"
            android:label="House beer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".adega.Activity.FaleConosco" />
        <activity android:name=".adega.Activity.HistoricoPedidosCliente" />
        <activity android:name=".adega.Activity.TelaCarrinho" />
        <activity android:name=".adega.Activity.DadosPessoais" />
        <activity android:name=".adega.Activity.TelaProduto" />
        <activity android:name=".JhoonyGostoso" />
        <activity
            android:name=".adega.Activity.MenuCliente"
            android:label="House beer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".adega.Activity.Cadastro1" />
        <activity android:name=".adega.Activity.Cadastro2" />
        <activity android:name=".adega.Activity.IntroCadastro" />
        <activity android:name=".adega.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>