<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.hold.adega">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adega.Activity.FaleConosco"></activity>
        <activity android:name=".adega.Activity.HistoricoPedidosCliente" />
        <activity android:name=".adega.Activity.TelaCarrinho" />
        <activity android:name=".adega.Activity.DadosPessoais" />
        <activity android:name=".adega.Activity.TelaProduto" />
        <activity android:name=".JhoonyGostoso" />
        <activity
            android:name=".adega.Activity.MenuCliente"
            android:label="House beer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".adega.Activity.Cadastro1" />
        <activity android:name=".adega.Activity.Cadastro2" />
        <activity android:name=".adega.Activity.IntroCadastro" />
        <activity android:name=".adega.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>